<div class="robot">
    <div class="robot-title">
        京妮
    </div>
    <div class="robot-main fn-clear">
        <div class="chat-wrap">
            <div class="chat-box">
                <div class="chat-box-clear fn-clear">
                    <div class="robot-chat">
                        <div class="decorate"></div>
                        <div class="date-wrap one-row">10:30</div>
                        你好
                    </div>
                </div>
                <div class="chat-box-clear fn-clear">
                    <div class="user-chat">
                        <div class="decorate"></div>
                        <div class="date-wrap one-row">2013-11-5  10:31</div>
                        你好
                    </div>
                </div>
                <div class="chat-box-clear fn-clear">
                    <div class="robot-chat">
                        <div class="decorate"></div>
                        <div class="date-wrap one-row">10:31</div>
                        你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
                    </div>
                </div>
                <div class="chat-box-clear fn-clear">
                    <div class="user-chat">
                        <div class="decorate"></div>
                        <div class="date-wrap one-row">10:31</div>
                        你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
                    </div>
                </div>
            </div>
            <div class="chat-input-wrap fn-clear">
                <ul class="input-opt fn-clear">
                    <li class="face"><a href="javascript:void(0)"></a></li>
                    <li class="screenshot"><a href="javascript:void(0)"></a></li>
                    <li class="window"><a href="javascript:void(0)"></a></li>
                </ul>
                <div class="input-wrap fn-clear">
                    <div class="input-box">
                        <input type="text" x-webkit-speech>
                    </div>
                    <a href="javascript:void(0)" class="send"></a>
                </div>
            </div>
        </div>
        <div class="chat-img">
            <div class="robot-img">
                <div class="img"></div>
                <ul class="img-name">
                    <li class="name">京妮</li>
                </ul>
            </div>
            <div class="user-img">
                <div class="img"></div>
                <ul class="img-name">
                    <li class="name">名字</li>
                    <li class="lv lv-1"></li>
                </ul>
                <ul class="user-info">
                    <li>
                        <dl class="user-area fn-clear">
                            <dt>地&nbsp;&nbsp;&nbsp;&nbsp;区：</dt>
                            <dd>四川</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="user-tit fn-clear">
                            <dt>头&nbsp;&nbsp;&nbsp;&nbsp;衔：</dt>
                            <dd>书童</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="user-money fn-clear">
                            <dt>志慧币：</dt>
                            <dd>00000</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="exp fn-clear">
                            <dt>经验值：</dt>
                            <dd>00000</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>