<div class="cms-page-name">
    <h6>网页及机器人版应用  预览</h6>
</div>
<iframe src="/robot-body" class="cms-page" name="cms-page" scrolling="auto" frameborder="0"></iframe>
<div class="cms-option">
    <div class="option-title">
        机器人端主界面设置
    </div>
    <div class="opt-group">
        <div class="group-title">
            窗体背景设置
        </div>
        <div class="opt-content-wrap Js-chat-wrap">
            <form id="formChat" class="form" method="post" enctype="multipart/form-data" action="/robot/chat/">
                <div class="opt-tit">
                    窗体背景设置
                </div>
                <div class="opt-content">
                    <div class="label-box">
                        <label class="label-wrap"><input type="checkbox" name="isColor" <%= isChatBc == 'true' ? 'checked="true"' : '' %> />纯色</label>
                        <input type="text" class="palette-chat-box-bc palette" name="color" value="<%=chatColor%>" />
                        <div class="picker-chat-box-bc picker" style=""></div>
                    </div>
                    <div class="label-box">
                        <label class="label-wrap"><input type="checkbox" name="isImage" <%= isChatBg == 'true' ? 'checked="true"' : '' %> />图片</label>
                        <label class="label-wrap"><input type="checkbox" name="isRepeat" <%= isChatRepeat == 'true' ? 'checked="true"' : '' %> />循环</label>
                        <input class="input-file" type="file" name="image">
                    </div>
                </div>
                <div class="group-btn-wrap">
                    <input type="hidden" name="actionType" />
                    <a class="preview Js-chat-preview" href="javascript:void(0)">预览</a>
                    <a class="reset Js-chat-reset" href="javascript:void(0)">恢复</a>
                    <a class="apply Js-chat-apply" href="javascript:void(0)">应用</a>
                </div>
            </form>
        </div>
    </div>
    <div class="opt-group">
        <div class="group-title">
            对话气泡设置
        </div>
        <div class="opt-content-wrap">
            <div class="opt-content">
                <div class="label-box">
                    <div class="label-wrap">用户对话气泡设置</div>
                    <select>
                        <option>样式一</option>
                        <option>样式二</option>
                        <option>样式三</option>
                    </select>
                </div>
            </div>
            <div class="opt-content">
                <div class="label-box">
                    <div class="label-wrap">客服对话气泡设置</div>
                    <select>
                        <option>样式一</option>
                        <option>样式二</option>
                        <option>样式三</option>
                    </select>
                </div>
            </div>
            <div class="opt-tit">
                对话时间显示设置
            </div>
            <div class="opt-content">
                <div class="label-box"><label><input type="radio" name="chat-time">自动模式</label></div>
                <div class="label-box">
                    <label>
                        <input type="radio" name="chat-time">手动模式
                    </label>
                    <label>
                        <input type="checkbox" name="day">日期+
                    </label>
                    <label>
                        <input type="checkbox" name="week">星期+
                    </label>
                    <label>
                        <input type="checkbox" name="time">时间
                    </label>
                    
                </div>
                
            </div>
            <div class="group-btn-wrap">
                <a class="preview" href="javascript:void(0)">预览</a>
                <a class="reset" href="javascript:void(0)">恢复</a>
                <a class="apply" href="javascript:void(0)">应用</a>
            </div>
        </div>
    </div>
    <div class="opt-group">
        <div class="group-title">
            客户与用户信息设置
        </div>
        <div class="opt-content-wrap Js-info-wrap">
            <form id="formInfo" class="form" method="post" enctype="multipart/form-data" action="/robot/info/">
                <div class="opt-tit">
                    客户信息设置
                </div>
                <div class="opt-content">
                    <div class="label-box">
                        <label class="label-wrap">客服昵称 <input type="text"></label>
                    </div>
                    <div class="label-box">
                        <label class="label-wrap">客服头像</label>
                        <div class="label-wrap">
                            <input type="file" name="image" class="input-file" />
                            <div class="head-img">
                                <img src="images/lib/i.gif" alt="" class="Js-photo-preview" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="opt-tit">
                    用户信息设置
                </div>
                <div class="opt-content">
                    <div class="label-box">
                        <label class="label-wrap samp-span-name">默认用户名</label>
                         <input type="text">
                    </div>
                    <div class="label-box">
                        <div class="label-wrap samp-span-name">显示以下详情</div>
                        <div class="label-wrap vt">
                            <div>
                                <label class="label-wrap">
                                    <input type="checkbox">地区
                                </label>
                            </div>
                            <div>
                                <label class="label-wrap">
                                    <input type="checkbox">头衔
                                </label>
                            </div>
                            <div>
                                <label class="label-wrap">
                                    <input type="checkbox">智慧币
                                </label>
                            </div>
                            <div>
                                <label class="label-wrap">
                                    <input type="checkbox">经验值
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group-btn-wrap">
                    <a class="preview" href="javascript:void(0)">预览</a>
                    <a class="reset" href="javascript:void(0)">恢复</a>
                    <a class="apply" href="javascript:void(0)">应用</a>
                </div>
            </form>
        </div>
    </div>
    <div class="opt-group">
        <div class="group-title">
            输入区设置
        </div>
        <div class="opt-content-wrap Js-operation-wrap">
            <form id="formOperation" class="form" method="post" enctype="multipart/form-data" action="/robot/operation/">
                <div class="opt-tit">
                    功能开关(拖拽可排序)
                </div>
                <div class="opt-content">
                    <div class="label-box">
                        <div class="sort-box-wrap Js-drag-wrap">
                            <ul class="sort-box-list">
                                <li class="sort-box Js-hold-box">
                                    表情
                                    <span class="switch"></span>
                                </li>
                                <li class="sort-box Js-hold-box">
                                    截屏
                                    <span class="switch"></span>
                                </li>
                                <li class="sort-box Js-hold-box">
                                    上传图片
                                    <span class="switch"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="group-btn-wrap">
                    <a class="preview" href="javascript:void(0)">预览</a>
                    <a class="reset" href="javascript:void(0)">恢复</a>
                    <a class="apply" href="javascript:void(0)">应用</a>
                </div>
            </form>
        </div>
    </div>
</div>


